.env
/backend/node_modules/*
/backend/reference_photos/*
/backend/.env
/backend/db.json
/suirify-enclave-backend/enclave-app/node_modules/*
/suirify-enclave-backend/enclave-app/.env
/suirify-enclave-backend/parent-app/node_modules/*
/suirify-enclave-backend/parent-app/reference_photos/*
/suirify-enclave-backend/parent-app/.env
/suirify-enclave-backend/tests/node_modules/*
/suirify-enclave-backend/tests/.env
## /suirify-enclave-backend/parent-app/db.json
/sdk/node_modules/*
/DemoApp/node_modules/*
