.square-loader-screen {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
}

.square-loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.square-loader {
  position: relative;
  width: 96px;
  height: 96px;
  transform: rotate(45deg);
}

.square-loader-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 28px;
  margin: 2px;
  background: hsla(166, 100%, 93%, 1);
  animation: square-loader-animation 10s ease-in-out infinite both;
}

.square-loader-message {
  color: #cdd2f1;
  text-align: center;
  font-size: 15px;
  line-height: 1.4;
}

@keyframes square-loader-animation {
  0%, 10.5% {
    left: 0;
    top: 0;
  }
  12.5%, 23% {
    left: 32px;
    top: 0;
  }
  25%, 35.5% {
    left: 64px;
    top: 0;
  }
  37.5%, 48% {
    left: 64px;
    top: 32px;
  }
  50%, 60.5% {
    left: 32px;
    top: 32px;
  }
  62.5%, 73% {
    left: 32px;
    top: 64px;
  }
  75%, 85.5% {
    left: 0;
    top: 64px;
  }
  87.5%, 98% {
    left: 0;
    top: 32px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
